@mixin default_shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin strong_shadow {
  box-shadow: 0 19px 32px rgba(0,0,0, 0.3), 0 15px 15px rgba(0,0,0, 0.2);
}

@mixin transition {
  transition: all 0.3s ease-out;
}

@mixin hover_anim {
  @include transition;
  &:hover {
    @include strong_shadow;
    transform: scale(0.95);
  }
}

@mixin hover_simple {
  @include transition;
  &:hover {
    transform: scale(0.95);
  }
}

@mixin main_cards_commons {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
}

@mixin seconday_cards_commons {
  width: 100%;
  height: 100%;;
  background: $dark_gray;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 60px;
  }
}

@mixin profile_photo {
  img {
    height: 160px;
    border-radius: $circular_radius;
    @include default_shadow;
  }
}

@mixin gradient($from, $to) {
  background: $from;
  background: -moz-linear-gradient(left, $from 0%, $to 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $from), color-stop(100%, $to));
  background: -webkit-linear-gradient(left, $from 0%, $to 100%);
  background: -o-linear-gradient(left, $from 0%, $to 100%);
  background: -ms-linear-gradient(left, $from 0%, $to 100%);
  background: linear-gradient(to right, $from 0%, $to 100%);
}
