// My web page V2
$background: #333333;

// Sizes

$default_small_margin: 8px;
$default_margin: 16px;
$default_small_padding: 8px;
$default_padding: 16px;
$default_border_radius: 8px;
$circular_radius: 50%;

// Profile Sizes
$profile_picture_size: 170px;
$profile_default_height: 170px;
$profile_default_width: 400px;
$space_between_sections: 64px;

// Colors
$white: #FFF;
$light_gray: #abacae;
$dark_gray: #2F2F2F;
$darker_gray: #252525;
